.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slick-prev:before,
  .slick-next:before {
    content: "";
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    color: black;
    opacity: 0.75;
    padding: 10px;
    transition: opacity 0.25s ease;
  }
  
  .slick-prev:before {
    content: "<";
  }
  
  .slick-next:before {
    content: ">";
  }
  
  .slick-prev:hover:before,
  .slick-next:hover:before {
    opacity: 1;
  }
  